// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.left_blog {
  position: relative;
  top: 0vw;
  left: 10vw;
}

.left_search {
  position: relative;
  top: -0.1vw;
  left: -0.6vw;
}

.left_search_icon {
  position: relative;
  top: -0.2vw;
  left: 1vw;
}