// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.left_blog {
  position: relative;
  top: 0vw;
  left: 10vw;
}