.admin_buttons {
  position: relative;
  top: 0.5vw;
  left: 91vw;
}

.body_wording {
  font-size: 3em;
  top: 20vw;
  position: relative;
  left: 32.5vw;
}

.typ {
  opacity: 0;
}

.typ span {
  opacity: 0;
}
